@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Room</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="roomsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Rooms
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="roomsDropdown">
                        <li><a class="dropdown-item" href="/Items/Index">Show all items</a></li>
                        <li><a class="dropdown-item" href="/Items/Create">Create</a></li>
                        <li><a class="dropdown-item" href="/Items/Delete">Delete</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
@* Scripts    *@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@* så denne scrip inkludere en library kaldet Jquery. Bruger den så jeg kan bruge Bootstrap   *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

@*  Bootstrap er her for at laver en dropdown menu, prøvede et på andre måder men ingen virkede så bruge bare boostrap so jeg kan gøre det (:. kommer fra 
https://getbootstrap.com/docs/4.0/components/dropdowns/*@


